:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	--text-color: rgba(255, 255, 255, 0.87);
	--grey-50: rgba(128, 128, 128, 0.5);
	--radius: 6px;
	--padding: 0.4em 0.8em;

	color-scheme: light dark;
	color: var(--text-color);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: var(--text-color);
	text-decoration: underline;
}

body {
	margin: 1em auto;
	padding: 0 1em;
	max-width: 40em;
}

p {
	border-left: 2px solid var(--grey-50);
	padding-left: 1em;
}

h2 {
	margin-top: 2em;
}

button {
	border-radius: var(--radius);
	border: 1px solid transparent;
	padding: 0.4em 0.8em;
	font-size: 0.85em;
	font-weight: 700;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}
input {
	border-radius: var(--radius);
	border: 1px solid var(--grey-50);
	padding: var(--padding);
}

.flex-between {
	width: 100%;
	display: flex;
	gap: 1em;
	justify-content: space-between;
	align-items: center;
}

.collapse {
	border: 1px solid var(--grey-50);
	border-radius: var(--radius);
	padding: var(--padding);
}

@media (prefers-color-scheme: light) {
	:root {
		--text-color: #213547;
		color: var(--text-color);
		background-color: #ffffff;
	}
}
